<%= link_to 'Create a new task', new_task_path %>
<br />

<h1>Listing Tasks</h1>

<table cellspacing='5'>
  <tr>
    <th>Project</th>
    <th>Name</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%=h task.project.name %></td>
    <td><%=h task.name %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
